{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <h2>Create Account</h2>

        <form method="post">
            {% csrf_token %}

            <label>Full Name</label>
            <input type="text" name="fullName" required>

            <label>Username</label>
            <input type="text" name="userName" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit">Register</button>
        </form>

        <p>Already have an account? 
            <a href="{% url 'login' %}">Login here</a>
        </p>
    </div>
</div>
{% endblock %}